h1{
    color: #3369e8;
    font-family: 'Lucida Sans';
    font-size: 150px;
    text-align: center;
}

.o1{
    color: #d50f25;
}

.o2{
    color: #eeb211;
}

.l{
    color: #009925;
}

.e{
    color: #d50f25;
}